@import "tailwindcss";

@layer components {

  .fancy-card::after {
    content: "";
    @apply absolute -inset-0.5 z-0 rounded-2xl opacity-0 scale-[0.98] transition-all duration-300 ease-in-out pointer-events-none blur-lg;
    background: linear-gradient(90deg,
        transparent,
        rgba(6, 182, 212, 0.12),
        transparent);
  }

  .fancy-card:hover::after {
    @apply opacity-100 scale-100;
  }

  .typewriter .cursor {
    @apply inline-block align-middle ml-1.5 opacity-90;
    width: 2px;
    height: 1.1em;
    background: var(--teal);
    animation: blink 1s steps(2) infinite;
  }

  .skill-pill {
  @apply px-4 py-3 rounded-xl
  bg-black/40 dark:bg-white/10
  text-white/80 dark:text-black/80
  font-medium text-center
  hover:scale-[1.02] transition-transform;
}
}

/* Animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}